node_modules
.env
.env.local
.env.*.local

# Build output
client/dist
server/dist

# Prisma
server/prisma/*.db
server/prisma/*.db-journal

# Vercel
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE
.vscode
.idea
.DS_Store
Thumbs.db
